<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tree.blog.mapper.TagMapper">

    <!--
        Tag saveTag(Tag tag);
    -->
    <insert id="saveTag" parameterType="com.tree.blog.po.Tag">
        INSERT INTO tag SET id=#{id},name=#{name}
    </insert>

    <!--
        Tag getTag(Long id);
    -->
    <select id="getTag" resultType="com.tree.blog.po.Tag">
        SELECT * FROM tag WHERE id=#{id}
    </select>

    <select id="getTagByName" resultType="com.tree.blog.po.Tag">
        SELECT * FROM tag WHERE name=#{name}
    </select>


    <!--
        List<Tag> listTag();
    -->
    <select id="listTag" resultType="com.tree.blog.po.Tag">
        SELECT * FROM tag
    </select>

    <!--
        List<Tag> findByIds(String ids);
    -->
    <select id="findByIds" resultType="com.tree.blog.po.Tag">
        SELECT * FROM tag WHERE id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

    <select id="listTagByUsedTimes" resultMap="TagWithCount" >
        SELECT bt.tid AS id,t.`name` AS name,COUNT(bt.tid) AS count FROM blog_tag bt,tag t WHERE bt.tid=t.id GROUP BY bt.tid ORDER BY COUNT(bt.tid) DESC
    </select>


    <!--
        Tag updateTag(Long id,Tag tag);
    -->
    <update id="updateTag">
        UPDATE tag SET name=#{name} WHERE id=#{id}
    </update>

    <!--
        void deleteTag(Long id);
    -->
    <delete id="deleteTag">
        DELETE FROM tag WHERE id=#{id}
    </delete>


    <resultMap id="TagWithCount" type="com.tree.blog.po.Tag">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="blogCount" column="count"/>
    </resultMap>

</mapper>